<h2 class="center">Add a Trip</h2>

<form method="POST" action="/trips/add">
<table>
    <tr align="right">
        <td>
            Trip Name: <input type="text" name="name" value="">
        </td>
    </tr>
    <tr align="right">
        <td>
            Mode of Transportation: <input type="text" name="modeOfTransportation" value="">
        </td>
    </tr>
    <tr align="right">
        <td>Distance (Miles): <input type="number" name="distance" value=""></td>
    </tr>
    <tr align="right">
        <td>
            Duration: <input type="number" name="duration" value="">
        </td>
    </tr>
    <tr align="right">
        <td>Number of Travelers: <input type="number" name="numTravelers" value=""></td>
    </tr>
</table>
<br>
    <input class="submitButton" type="submit">    
</form>